# clion config folder
.idea/*
# build folder
build/*
atom/build

# data folder for MNIST
data/*

# Include libraries: MNIST-reader, CImg
util/include
# Sample Python code from (Diehl & Cook, 2014)
util/diehl
# another folder for MNIST
util/mnist

# output plots
images/*
