# clion config folder
.idea/*
# build folder
build/*

# data folder for MNIST/CIFAR
data/*

# Include libraries: MNIST-reader, CImg
util/include

# Sample Python code from (Diehl & Cook, 2014)
util/diehl

# output plots
images/*
